@use 'variables' as *;
@use 'mixins' as *;

// Arreglar pàgina
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-principal;
  background-color: $color-negre;
  color: $color-blanc;
  line-height: 1.6;
  min-height: 100vh;
}

// Tipografia base
h1, h2, h3, h4, h5, h6 {
  font-family: $font-secundaria;
  font-weight: $pes-font-bold;
  margin-bottom: $espai-md;
}

h1 {
  font-size: $mida-font-2xl;
  color: $color-blanc;
}

h2 {
  font-size: $mida-font-xl;
  color: $color-blanc;
}

h3 {
  font-size: $mida-font-lg;
  color: $color-blanc;
}

p {
  color: $color-gris-clar;
  margin-bottom: $espai-sm;
}

// Enllaços
a {
  text-decoration: none;
  color: $color-cyan;
  transition: color $transicio-rapida;
  
  &:hover {
    color: $color-rosa;
  }
}

// Llistes
ul {
  list-style: none;
}

// Imatges
img {
  max-width: 100%;
  height: auto;
  display: block;
}