# Innecesarios para el control de versiones
node_modules/
backend/logs/*.txt

# API Keys y configuración sensible
/backend/api/deprecated_weather.php
/backend/api/api_get_products_Bruno.php
/backend/api/weather_data/

# Archivos de configuración con credenciales
config.php
*.env